{% extends 'base.html' %}

{% block content %}

<h1>My Profile</h1>

<h2 class="my-3">My Orders</h2>

<div class="row">
  <div class="col-12">
    <a href="{% url 'my_profile_orders' %}" class="btn btn-link">See my orders</a>
  </div>
</div>

<h2 class="my-3">Account Settings</h2>

<div class="row">
  <div class="col-12">
    <a href="{% url 'account_change_password' %}" class="btn btn-link">Change password</a>
  </div>
  <div class="col-12">
    <a href="{% url 'account_email' %}" class="btn btn-link">Manage email accounts</a>
  </div>
</div>

{% endblock %}