{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Track your fitness goals">
  <title>My Fitness Friend</title>
  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>

<body class="d-flex flex-column h-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home_index' %}">My Fitness Friend</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% include 'nav_item.html' with route_name='home_index' link_text='Home' %}
          {% include 'nav_item.html' with route_name='food_diary_index' link_text='Food Diary' %}
          {% include 'nav_item.html' with route_name='goals_index' link_text='Goals' %}
          {% include 'nav_item.html' with route_name='store_index' link_text='Store' %}
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            {% with url_name=request.resolver_match.url_name %}
            <a class="nav-link {% if url_name == 'store_basket' %}active{% endif %}"
              {% if url_name == 'store_basket' %}aria-current="page"{% endif %}
              href="{% url 'store_basket' %}">
              <i class="bi bi-basket"></i>
              <span class="badge text-bg-primary">
                {{ basket|length }}
              </span>
            </a>
            {% endwith %}
          </li>
          {% if request.user.is_authenticated %}
          {% include 'nav_item.html' with route_name='my_profile_index' link_text='My Profile' %}
          {% include 'nav_item.html' with route_name='account_logout' link_text='Log Out' %}
          {% else %}
          {% include 'nav_item.html' with route_name='account_login' link_text='Log In' %}
          {% include 'nav_item.html' with route_name='account_signup' link_text='Register' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Toast container -->
  <div class="toast-container position-fixed end-0 p-3">
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">My Fitness Friend</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label=""></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Main content -->
  <main class="container flex-fill mt-3 mb-5">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="bg-body-secondary p-3 d-flex justify-content-between">
    <div>
      &copy; 2024
    </div>
    <div>
      <a target="_blank" href="https://icons8.com/icon/13390/fitness">Fitness</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/init-toast.js' %}"></script>

  {% block scripts %}
  {% endblock %}
</body>

</html>