{% extends 'base.html' %}

{% block content %}

<h1>Store</h1>

<form action="{% url 'store_index' %}" method="get" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <input type="search" name="q" id="q" value="{{ search_term }}" placeholder="Search" class="form-control">
  </div>

  <div class="col-12">
    <input type="submit" value="Search" class="btn btn-primary">
  </div>
</form>

{% for product in products %}
<p>{{ product.name }}</p>
{% endfor %}

{% endblock %}