{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Store</h1>

<form action="{% url 'store_search' %}" method="get" class="my-3">
  <input type="hidden" name="page" value="1">
  <input type="hidden" name="items_per_page" value="10">
  <input type="hidden" name="sort_order" value="price_pounds">

  <div class="input-group">
    <div class="form-floating">
      <input type="search" class="form-control" id="search" name="search_term" placeholder="Search all products" required>
      <label for="search">Search all products</label>
    </div>
    <button class="btn btn-primary" type="submit">
      <span class="visually-hidden">Search</span>
      <i class="bi bi-search"></i>
    </button>
  </div>
</form>

<h2 class="my-3">Featured Equipment</h2>

{% for product in featured_equipment_products %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-6 col-md-4 col-lg-2">
      {% if product.image %}
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }} product image">
      {% else %}
      <img src="{% static 'images/image-missing.svg' %}" class="img-fluid rounded-start" alt="Missing image">
      {% endif %}
    </div>
    <div class="col-sm-6 col-md-8 col-lg-10">
      <div class="card-body">
        <a href="{% url 'store_details' product.id %}" class="h5 card-title">{{ product.name }}</a>
        <p class="card-text">£{{ product.price_pounds }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<h2 class="my-3">Featured Clothing</h2>

{% for product in featured_clothing_products %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-6 col-md-4 col-lg-2">
      {% if product.image %}
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }} product image">
      {% else %}
      <img src="{% static 'images/image-missing.svg' %}" class="img-fluid rounded-start" alt="Missing image">
      {% endif %}
    </div>
    <div class="col-sm-6 col-md-8 col-lg-10">
      <div class="card-body">
        <a href="{% url 'store_details' product.id %}" class="h5 card-title">{{ product.name }}</a>
        <p class="card-text">£{{ product.price_pounds }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}